.formStyle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.inputFormStyle{
    width: 300px;
    height: 50px;
    margin-bottom: 20px;
}
.btnContainer{
    margin: 10px;
    display: flex;
    justify-content: space-evenly;
}
.cartBtn{
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    padding: 10px;
    background-color: rgb(36, 50, 34);
    color: azure;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}