.navBarStyles{
    height: 60px;
    padding: 0 10px;
    position: sticky;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(90deg,#28382e 0%, #043204 80%);
    .logo{
        height: 60px;
        object-fit: cover;
    }
    .form{
        display: flex;
        justify-content: center;
        .searchInput{
            height: 30px;
            width: 300px;
            border-radius: 5px;
        }
        .searchButton{
            margin: 0 2px;
            padding: 0px;
            height: 34px;
            width: 34px;
            text-align: start;
            background-color: azure;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            &:hover{
                background-color: rgb(194, 194, 194);
            }
            .searchIcon{
                font-size: 1.3rem;
                color: grey;
            }
        }
    }
    .list{
        list-style: none;
        display: flex;
        flex-direction: row;
        .listItems{
            margin: 2px;
            padding: 2px;
            text-decoration: none;
            font-size: 1.3rem;
            border: 1px solid rgb(85, 82, 82);
            border-radius: 5px;
            color: azure;
            .link{
                color: azure;
                text-decoration: none;
            }
        }
    }
}