.counter{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}
.counterBtn{
        
    border: 1px solid black;
    border-radius: 5px;
    margin-left: 5px;
    margin-right: 5px;
    background-color: rgb(36, 50, 34);
    color: azure;
    font-size: 1.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}